#div_one
  - 10.times do |index|
    %div{:id => "div_one_list_#{index}", :some_index => index}
      = "Item #{index}"
      = draggable_element("div_one_list_#{index}", :revert => true)
    
#div_two
  Some Content

= drop_receiving_element("div_two", :hoverclass => "hover", :with => "'my_param=' + (element.getAttribute('some_index'))", :url => {:controller => "main", :action => "add"})