#message_div
#div_one
  - 10.times do |index|
    %div{:id => "div_one_list_#{index}", :my_param => index, :message => "Message#{index}", :three => "anotherparam"}
      = "Item #{index}"
      = draggable_element("div_one_list_#{index}", :revert => true)
    
#div_two
  Some Content

= drop_receiving_element("div_two", :hoverclass => "hover", :with => droppable_params(["my_param", "message", "three"]), :url => {:controller => "main", :action => "add"})